<!DOCTYPE html>
<html>
       <head>
              <title>about</title>
              <link rel="icon" href="/img/wea.png">
              <link rel="stylesheet" href="../css/style.css">
              <script src="../js/app.js"></script>
       </head>
       <body>
              <div class="main">
              {{>header}}
              <p>This app is created by Sandeep Gore. With the help of mapbox.com and darksky.net urls.
                     special thanks to <strong>andrew mead</strong>.
              </p>
              {{!-- <h1>{{title}} </h1> --}}
              
              <img src="img/W.jpg">
              </div>
              {{>footer}}
              {{!-- <p>created by {{name}}</p> --}}
       </body>
</html>