
       {{!-- <a href="/help/*">help artical not found</a>
       <a href="*">page not found</a> --}}

      <!DOCTYPE html>
<html>
       <head>
              <title>404</title>
               <link rel="icon" href="/img/wea.png">
               <link rel="stylesheet" href="/css/style.css">
              {{!-- <script src="./js/app.js"></script> --}}
       </head>
       <body>
              <div class="main">
           {{>header}}
         <p>  {{error}}</p>
          </div>
              {{!-- <h1>{{title}} </h1> --}}
              {{!-- <p>created by {{name}}</p> --}}
              {{>footer}}
       </body>
</html>